.lol{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='600' height='200' preserveAspectRatio='none' viewBox='0 0 600 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='600' height='200' x='0' y='0' fill='rgba(29%2c 29%2c 30%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c199.057C37.703%2c197.201%2c70.262%2c178.051%2c105.128%2c163.583C148.105%2c145.75%2c201.058%2c141.963%2c228.372%2c104.294C256.699%2c65.228%2c256%2c11.94%2c249.782%2c-35.913C243.508%2c-84.194%2c231.657%2c-137.601%2c193.08%2c-167.304C155.421%2c-196.3%2c102.112%2c-183.483%2c54.658%2c-186.149C17.985%2c-188.21%2c-16.701%2c-185.367%2c-53.188%2c-181.142C-97.735%2c-175.984%2c-146.976%2c-185.25%2c-183.06%2c-158.623C-221.315%2c-130.394%2c-242.944%2c-82.961%2c-249.964%2c-35.939C-257.003%2c11.207%2c-248.027%2c61.473%2c-221.871%2c101.325C-197.251%2c138.837%2c-153.061%2c156.184%2c-111.998%2c174.272C-76.283%2c190.004%2c-38.979%2c200.976%2c0%2c199.057' fill='%23141415'%3e%3c/path%3e%3cpath d='M600 454.24199999999996C647.237 450.007 687.235 423.385 728.172 399.44 770.906 374.44399999999996 823.833 356.64599999999996 844.087 311.471 864.3199999999999 266.342 835.482 215.932 832.583 166.56 829.342 111.349 856.755 50.12700000000001 826.043 4.132000000000005 795.136-42.153999999999996 731.361-49.83000000000001 677.857-65.15699999999998 624.685-80.38900000000001 568.248-103.94799999999998 516.447-84.55700000000002 465.353-65.43099999999998 440.41999999999996-9.962999999999994 409.796 35.18700000000001 382.552 75.354 347.252 115.241 348.015 163.77 348.753 210.699 395.703 241.732 413.724 285.069 432.679 330.651 419.61199999999997 390.637 456.156 423.826 493.185 457.455 550.179 458.708 600 454.24199999999996' fill='%23262627'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='600' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
*{
  margin: 0;
  padding: 0;
}
table{
  width: 600px;
  height: 200px;
  border: 1px solid black;
}
.width-45{
  width: 45%;
}
.heading{
  background-color: antiquewhite;
  height: 50px;
}
.heading img{
  height: 20px;
}
.bottom{
  height: 150px;
}